{
  "openapi": "3.0.3",
  "info": {
    "description": "Welcome to Cloudflare's API documentation site. We are experimenting with an updated version of our API documentation - check out [developers.cloudflare.com/api-next/](https://developers.cloudflare.com/api-next/) to test out the new experience.\n\nTo get started using Cloudflare's products and services via the API, refer to [how to interact with Cloudflare](https://developers.cloudflare.com/fundamentals/basic-tasks/interact-with-cloudflare/), which covers using tools like [Terraform](https://developers.cloudflare.com/terraform/#cloudflare-terraform) and the [official SDKs](https://developers.cloudflare.com/fundamentals/api/reference/sdks/) to maintain your Cloudflare resources.\n\nUsing the Cloudflare API requires authentication so that Cloudflare knows who is making requests and what permissions you have. Create an API token to grant access to the API to perform actions. You can also authenticate with [API keys](https://developers.cloudflare.com/fundamentals/api/get-started/keys/), but these keys have [several limitations](https://developers.cloudflare.com/fundamentals/api/get-started/keys/#limitations) that make them less secure than API tokens. Whenever possible, use API tokens to interact with the Cloudflare API.\n\nTo create an API token, from the Cloudflare dashboard, go to My Profile > API Tokens and select Create Token. For more information on how to create and troubleshoot API tokens, refer to\nour [API fundamentals](https://developers.cloudflare.com/fundamentals/api/).\n\nFor information regarding rate limits, refer to our [API Rate Limits](https://developers.cloudflare.com/cloudflare-for-platforms/workers-for-platforms/platform/limits/#api-rate-limits).\n\nTotally new to Cloudflare? [Start here](https://developers.cloudflare.com/fundamentals/get-started/).",
    "license": {
      "name": "BSD-3-Clause",
      "url": "https://opensource.org/licenses/BSD-3-Clause"
    },
    "title": "Cloudflare API",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/k2/streams": {
      "get": {
        "operationId": "getV4AccountsByAccount_idK2Streams",
        "summary": "List K2 streams",
        "description": "List or filter K2 streams in an account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters K2 streams by name using a case-insensitive substring.",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "minLength": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 25,
              "maximum": 100,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates successfully listed K2 streams.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudflare-k2_K2StreamListResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in listing K2 streams."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams",
        "x-fern-sdk-method-name": "list",
        "x-forge-hidden": false
      },
      "post": {
        "operationId": "postV4AccountsByAccount_idK2Streams",
        "summary": "Create K2 stream",
        "description": "Create a new K2 stream.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cloudflare-k2_CreateK2StreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates a successfully created K2 stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudflare-k2_K2StreamResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in creating a K2 stream."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams",
        "x-fern-sdk-method-name": "create",
        "x-forge-hidden": false
      }
    },
    "/accounts/{account_id}/k2/streams/{stream_id}": {
      "delete": {
        "operationId": "deleteV4AccountsByAccount_idK2StreamsByStream_id",
        "summary": "Delete K2 stream",
        "description": "Delete a K2 stream in an account. Deleting a stream that does not exist also succeeds.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          },
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-stream-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates a successfully deleted K2 stream.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "$ref": "#/components/schemas/cloudflare-k2_workers-k2-common-success"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in deleting a K2 stream."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams",
        "x-fern-sdk-method-name": "delete",
        "x-forge-hidden": false
      },
      "get": {
        "operationId": "getV4AccountsByAccount_idK2StreamsByStream_id",
        "summary": "Get K2 stream",
        "description": "Get K2 stream details.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          },
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-stream-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates a successfully retrieved K2 stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudflare-k2_K2StreamResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in retrieving a K2 stream."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams",
        "x-fern-sdk-method-name": "get",
        "x-forge-hidden": false
      },
      "patch": {
        "operationId": "patchV4AccountsByAccount_idK2StreamsByStream_id",
        "summary": "Update K2 stream",
        "description": "Update a K2 stream. Omitted `http` settings, such as `authentication` and `cors`, keep their current values while HTTP stays enabled. Disabling HTTP clears its settings. At least one input must remain enabled.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          },
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-stream-id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cloudflare-k2_UpdateK2StreamRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates a successfully updated K2 stream.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudflare-k2_K2StreamResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in updating a K2 stream."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams",
        "x-fern-sdk-method-name": "update",
        "x-forge-hidden": false
      }
    },
    "/accounts/{account_id}/k2/streams/{stream_id}/subscriptions": {
      "get": {
        "operationId": "getV4AccountsByAccount_idK2StreamsByStream_idSubscriptions",
        "summary": "List K2 stream subscriptions",
        "description": "Lists every subscription on one stream, oldest first. Lag uses committed positions, not reserved read positions. A failed tail observation preserves subscription metadata and returns unavailable lag.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-account-id"
            }
          },
          {
            "name": "stream_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-k2_workers-k2-stream-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Every subscription on the K2 stream, with observed committed-position lag.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/cloudflare-k2_K2MonitoredSubscriptionListResponse"
                }
              }
            }
          },
          "4XX": {
            "description": "Missing stream or insufficient K2 read permission."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_k2_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "beta",
        "x-fern-sdk-group-name": "k2.streams.subscriptions",
        "x-fern-sdk-method-name": "list",
        "x-forge-hidden": false
      }
    },
    "/accounts/{account_id}/basin-catalog": {
      "get": {
        "operationId": "basin-list-catalogs",
        "summary": "List Basin Catalogs",
        "description": "Returns a list of R2 buckets that have been enabled as Apache Iceberg catalogs\nfor the specified account. Each catalog represents an R2 bucket configured\nto store Iceberg metadata and data files.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Basin Catalogs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_catalog-list"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Basin Catalog Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}": {
      "get": {
        "operationId": "basin-get-catalog-details",
        "summary": "Get Basin Catalog details",
        "description": "Retrieve detailed information about a specific Basin Catalog by bucket name.\nReturns catalog status, maintenance configuration, and credential status.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Basin Catalog details.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_catalog"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Basin Catalog Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog",
        "x-fern-sdk-method-name": "get"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/credential": {
      "post": {
        "operationId": "basin-store-credentials",
        "summary": "Store catalog credentials",
        "description": "Store authentication credentials for a catalog. These credentials are used\nto authenticate with R2 storage when performing catalog operations.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/r2-data-catalog_catalog-credential-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credentials stored successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "type": "object",
                          "nullable": true
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Credential Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.credentials",
        "x-fern-sdk-method-name": "create"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/credential/status": {
      "get": {
        "operationId": "basin-get-credential-status",
        "summary": "Get Basin Catalog credential status",
        "description": "Check whether the configured catalog credentials are valid, invalid,\nor absent by probing authentication against the catalog.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Credential status retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "$ref": "#/components/schemas/r2-data-catalog_credential-probe-status"
                            }
                          },
                          "required": [
                            "status"
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Credential Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.credentials",
        "x-fern-sdk-method-name": "status"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/delete": {
      "post": {
        "operationId": "basin-delete-catalog",
        "summary": "Delete Basin Catalog metadata",
        "description": "Removes the catalog from the control plane without deleting R2 bucket objects.\nSet force=true to remove catalog namespaces, tables, views, and maintenance\nmetadata. Force deletion is limited to a configured catalog object count.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "force",
            "in": "query",
            "description": "Remove child metadata before deleting the catalog.",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-fern-parameter-name": "cascade"
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog metadata deleted successfully."
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed."
          },
          "404": {
            "description": "Catalog not found."
          },
          "409": {
            "description": "Catalog is non-empty, has unfinished work, is protected, or exceeds the force-delete limit.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Basin Catalog Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog",
        "x-fern-sdk-method-name": "delete",
        "x-forge-require-confirmation": "This removes catalog metadata. R2 bucket objects are retained."
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/disable": {
      "post": {
        "operationId": "basin-disable-catalog",
        "summary": "Disable Basin Catalog",
        "description": "Disable an R2 bucket as a catalog. This operation deactivates the catalog\nbut preserves existing metadata and data files. The catalog can be\nre-enabled later.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name to disable as catalog.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Catalog disabled successfully."
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Basin Catalog Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog",
        "x-fern-sdk-method-name": "disable",
        "x-forge-require-confirmation": "This operation turns off the data catalog for the bucket. Existing namespace or table state remains, but writes stop."
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/enable": {
      "post": {
        "operationId": "basin-enable-catalog",
        "summary": "Enable R2 bucket as a catalog",
        "description": "Enable an R2 bucket as an Apache Iceberg catalog. This operation creates\nthe necessary catalog infrastructure and activates the bucket for storing\nIceberg metadata and data files.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name to enable as catalog.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog enabled successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_catalog-activation-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "R2 bucket not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "409": {
            "description": "Catalog already enabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Basin Catalog Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog",
        "x-fern-sdk-method-name": "enable"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/maintenance-configs": {
      "get": {
        "operationId": "basin-get-maintenance-config",
        "summary": "Get catalog maintenance configuration",
        "description": "Retrieve the maintenance configuration for a specific catalog,\nincluding compaction settings and credential status.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_catalog-maintenance-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Maintenance Configuration"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.maintenance-configs",
        "x-fern-sdk-method-name": "get"
      },
      "post": {
        "operationId": "basin-update-maintenance-config",
        "summary": "Update catalog maintenance configuration",
        "description": "Update the maintenance configuration for a catalog. This allows you to\nenable or disable compaction and adjust target file sizes for optimization.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/r2-data-catalog_catalog-maintenance-update-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maintenance configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_catalog-maintenance-config"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Maintenance Configuration"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.maintenance-configs",
        "x-fern-sdk-method-name": "update"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces": {
      "get": {
        "operationId": "basin-list-namespaces",
        "summary": "List namespaces in catalog",
        "description": "Returns a list of namespaces in the specified Basin Catalog.\nSupports hierarchical filtering and pagination for efficient traversal\nof large namespace hierarchies.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Opaque pagination token from a previous response.\nUse this to fetch the next page of results.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Maximum number of namespaces to return per page.\nDefaults to 100, maximum 1000.\n",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000,
              "minimum": 1
            }
          },
          {
            "name": "parent",
            "in": "query",
            "description": "Parent namespace to filter by. Only returns direct children of this namespace.\nFor nested namespaces, use %1F as separator (e.g., \"bronze%1Fanalytics\").\nOmit this parameter to list top-level namespaces.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "return_uuids",
            "in": "query",
            "description": "Whether to include namespace UUIDs in the response.\nSet to true to receive the namespace_uuids array.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "return_details",
            "in": "query",
            "description": "Whether to include additional metadata (timestamps).\nWhen true, response includes created_at and updated_at arrays.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of namespaces retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_namespace-list-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., invalid page_size, malformed parent namespace).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Namespace Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables": {
      "get": {
        "operationId": "basin-list-tables",
        "summary": "List tables in namespace",
        "description": "Returns a list of tables in the specified namespace within a Basin Catalog.\nSupports pagination for efficient traversal of large table collections.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The namespace identifier.\nFor nested namespaces, use %1F as separator (e.g., \"bronze%1Fanalytics\").\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "description": "Opaque pagination token from a previous response.\nUse this to fetch the next page of results.\n",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Maximum number of tables to return per page.\nDefaults to 100, maximum 1000.\n",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000,
              "minimum": 1
            }
          },
          {
            "name": "return_uuids",
            "in": "query",
            "description": "Whether to include table UUIDs in the response.\nSet to true to receive the table_uuids array.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "return_details",
            "in": "query",
            "description": "Whether to include additional metadata (timestamps, locations).\nWhen true, response includes created_at, updated_at, metadata_locations, and locations arrays.\n",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tables retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_table-list-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., invalid page_size, malformed namespace).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog or namespace not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}": {
      "get": {
        "operationId": "basin-get-table",
        "summary": "Get table details",
        "description": "Returns full Apache Iceberg metadata for a single table: schema,\npartition specs, sort orders, properties, and recent snapshot history.\nDesigned for catalog introspection UIs that need per-table details\nwithout holding R2 credentials.\n\nThe `metadata.snapshots`, `metadata.snapshot-log`, and\n`metadata.metadata-log` arrays are pruned to the most recent 10\nentries by `timestamp-ms`. Use `total_snapshots` and\n`returned_snapshots` to surface the truncation to end users.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The namespace identifier.\nFor nested namespaces, use %1F as separator (e.g., \"bronze%1Fanalytics\").\n",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "path",
            "description": "The table name within the given namespace.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_get-table-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request (e.g., malformed namespace).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — JWT claims do not match account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Catalog, namespace, or table not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Management"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables",
        "x-fern-sdk-method-name": "get"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs": {
      "get": {
        "operationId": "basin-get-table-maintenance-config",
        "summary": "Get table maintenance configuration",
        "description": "Retrieve the maintenance configuration for a specific table,\nincluding compaction settings.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The namespace identifier (use %1F as separator for nested namespaces).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "path",
            "description": "The table name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Table maintenance configuration retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_table-maintenance-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Table not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Maintenance Configuration"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write",
          "Workers R2 Data Catalog Read"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables.maintenance-configs",
        "x-fern-sdk-method-name": "get"
      },
      "post": {
        "operationId": "basin-update-table-maintenance-config",
        "summary": "Update table maintenance configuration",
        "description": "Update the maintenance configuration for a specific table. This allows you to\nenable or disable compaction and adjust target file sizes for optimization.\n",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Identifies the account.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "description": "Specifies the R2 bucket name.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "description": "The namespace identifier (use %1F as separator for nested namespaces).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "path",
            "description": "The table name.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/r2-data-catalog_table-maintenance-update-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Table maintenance configuration updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_table-maintenance-config"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Table not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Maintenance Configuration"
        ],
        "x-api-token-group": [
          "Workers R2 Data Catalog Write"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables.maintenance-configs",
        "x-fern-sdk-method-name": "update"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-configs/{configuration_type}/queue": {
      "post": {
        "operationId": "basin-queue-table-maintenance",
        "summary": "Queue table maintenance",
        "description": "Queue maintenance for normal polling. This request does not start a run.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configuration_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "compaction",
                "snapshot_expiration"
              ]
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/r2-data-catalog_queue-maintenance-request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Maintenance was queued for normal polling.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_queue-maintenance-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Table or maintenance configuration not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "409": {
            "description": "Maintenance is currently assigned to an executor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "429": {
            "description": "Manual queue request limit reached.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Maintenance Configuration"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables.maintenance-configs",
        "x-fern-sdk-method-name": "queue"
      }
    },
    "/accounts/{account_id}/basin-catalog/{bucket_name}/namespaces/{namespace}/tables/{table_name}/maintenance-runs": {
      "get": {
        "operationId": "basin-list-table-maintenance-runs",
        "summary": "List table maintenance runs",
        "description": "Retrieves recent table maintenance runs for the current table.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_account-id"
            }
          },
          {
            "name": "bucket_name",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/r2-data-catalog_bucket-name"
            }
          },
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "table_name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "schema": {
              "type": "integer",
              "maximum": 100,
              "minimum": 1
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maintenance runs retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/r2-data-catalog_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/r2-data-catalog_maintenance-runs-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          },
          "404": {
            "description": "Table not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/r2-data-catalog_api-response-common-failure"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "Table Maintenance Configuration"
        ],
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "basin-catalog.namespaces.tables.maintenance-runs",
        "x-fern-sdk-method-name": "list"
      }
    },
    "/accounts/{account_id}/pipelines/v1/sinks": {
      "get": {
        "operationId": "getV4AccountsByAccount_idPipelinesV1Sinks",
        "summary": "List Sinks",
        "description": "List/Filter Sinks in Account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id"
            }
          },
          {
            "name": "pipeline_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "Filters sinks by name (case-insensitive substring).",
            "schema": {
              "type": "string",
              "maxLength": 128,
              "minLength": 1
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates successfully listed Sinks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "properties": {
                          "config": {
                            "description": "Defines the configuration of the R2 Sink.",
                            "oneOf": [
                              {
                                "$ref": "#/components/schemas/cloudflare-pipelines_r2TablePublic"
                              },
                              {
                                "$ref": "#/components/schemas/cloudflare-pipelines_r2_data_catalogTablePublic"
                              }
                            ]
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "format": {
                            "$ref": "#/components/schemas/cloudflare-pipelines_SinkFormat"
                          },
                          "id": {
                            "description": "Indicates a unique identifier for this sink.",
                            "type": "string"
                          },
                          "modified_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "name": {
                            "description": "Defines the name of the Sink.",
                            "type": "string",
                            "maxLength": 128,
                            "minLength": 1
                          },
                          "schema": {
                            "$ref": "#/components/schemas/cloudflare-pipelines_ConnectionSchema"
                          },
                          "type": {
                            "description": "Specifies the type of sink.",
                            "type": "string",
                            "enum": [
                              "r2",
                              "r2_data_catalog",
                              "basin_catalog"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "created_at",
                          "modified_at",
                          "type"
                        ],
                        "type": "object"
                      }
                    },
                    "result_info": {
                      "type": "object",
                      "properties": {
                        "count": {
                          "description": "Indicates the number of items on current page.",
                          "type": "number"
                        },
                        "page": {
                          "description": "Indicates the current page number.",
                          "type": "number"
                        },
                        "per_page": {
                          "description": "Indicates the number of items per page.",
                          "type": "number"
                        },
                        "total_count": {
                          "description": "Indicates the total number of items.",
                          "type": "number"
                        }
                      },
                      "required": [
                        "count",
                        "page",
                        "per_page",
                        "total_count"
                      ]
                    },
                    "success": {
                      "$ref": "#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success"
                    }
                  },
                  "required": [
                    "success",
                    "result",
                    "result_info"
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in listing Sinks."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write",
          "Pipelines Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "pipelines.sinks",
        "x-fern-sdk-method-name": "list",
        "x-forge-hidden": false
      },
      "post": {
        "operationId": "postV4AccountsByAccount_idPipelinesV1Sinks",
        "summary": "Create Sink",
        "description": "Create a new Sink.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "config": {
                    "description": "Defines the configuration of the R2 Sink.",
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/cloudflare-pipelines_r2Table"
                      },
                      {
                        "$ref": "#/components/schemas/cloudflare-pipelines_r2_data_catalogTable"
                      }
                    ]
                  },
                  "format": {
                    "$ref": "#/components/schemas/cloudflare-pipelines_SinkFormat"
                  },
                  "name": {
                    "description": "Defines the name of the Sink.",
                    "type": "string",
                    "maxLength": 128,
                    "minLength": 1
                  },
                  "schema": {
                    "$ref": "#/components/schemas/cloudflare-pipelines_ConnectionSchema"
                  },
                  "type": {
                    "description": "Specifies the type of sink.",
                    "type": "string",
                    "enum": [
                      "r2",
                      "r2_data_catalog",
                      "basin_catalog"
                    ]
                  }
                },
                "required": [
                  "name",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates a successfully created Sink.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "config": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/cloudflare-pipelines_r2Table"
                            },
                            {
                              "$ref": "#/components/schemas/cloudflare-pipelines_r2_data_catalogTable"
                            }
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "format": {
                          "$ref": "#/components/schemas/cloudflare-pipelines_SinkFormat"
                        },
                        "id": {
                          "description": "Indicates a unique identifier for this sink.",
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "name": {
                          "description": "Defines the name of the Sink.",
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 1
                        },
                        "schema": {
                          "$ref": "#/components/schemas/cloudflare-pipelines_ConnectionSchema"
                        },
                        "type": {
                          "description": "Specifies the type of sink.",
                          "type": "string",
                          "enum": [
                            "r2",
                            "r2_data_catalog",
                            "basin_catalog"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "created_at",
                        "modified_at",
                        "type"
                      ]
                    },
                    "success": {
                      "$ref": "#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in creating a Sink."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "pipelines.sinks",
        "x-fern-sdk-method-name": "create",
        "x-forge-hidden": false
      }
    },
    "/accounts/{account_id}/pipelines/v1/sinks/{sink_id}": {
      "delete": {
        "operationId": "deleteV4AccountsByAccount_idPipelinesV1SinksBySink_id",
        "summary": "Delete Sink",
        "description": "Delete Sink in Account.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id"
            }
          },
          {
            "name": "sink_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-sink-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates a successfully deleted Sink.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "$ref": "#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in listing Sinks."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_pipelines_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "pipelines.sinks",
        "x-fern-sdk-method-name": "delete",
        "x-forge-hidden": false
      },
      "get": {
        "operationId": "getV4AccountsByAccount_idPipelinesV1SinksBySink_id",
        "summary": "Get Sink Details",
        "description": "Get Sink Details.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-account-id"
            }
          },
          {
            "name": "sink_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-sink-id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates that Sink was retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "config": {
                          "description": "Defines the configuration of the R2 Sink.",
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/cloudflare-pipelines_r2TablePublic"
                            },
                            {
                              "$ref": "#/components/schemas/cloudflare-pipelines_r2_data_catalogTablePublic"
                            }
                          ]
                        },
                        "created_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "format": {
                          "$ref": "#/components/schemas/cloudflare-pipelines_SinkFormat"
                        },
                        "id": {
                          "description": "Indicates a unique identifier for this sink.",
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "name": {
                          "description": "Defines the name of the Sink.",
                          "type": "string",
                          "maxLength": 128,
                          "minLength": 1
                        },
                        "schema": {
                          "$ref": "#/components/schemas/cloudflare-pipelines_ConnectionSchema"
                        },
                        "type": {
                          "description": "Specifies the type of sink.",
                          "type": "string",
                          "enum": [
                            "r2",
                            "r2_data_catalog",
                            "basin_catalog"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "created_at",
                        "modified_at",
                        "type"
                      ]
                    },
                    "success": {
                      "$ref": "#/components/schemas/cloudflare-pipelines_worker-pipelines-common-success"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ]
                }
              }
            }
          },
          "4XX": {
            "description": "Indicates an error in listing Sinks."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write",
          "Pipelines Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        },
        "x-fern-availability": "generally-available",
        "x-fern-sdk-group-name": "pipelines.sinks",
        "x-fern-sdk-method-name": "get",
        "x-forge-hidden": false
      }
    },
    "/accounts/{account_id}/urlscanner/v2/scan": {
      "post": {
        "operationId": "urlscanner-create-scan-v2",
        "summary": "Create URL Scan",
        "description": "Submit a URL to scan. Check limits at https://developers.cloudflare.com/security-center/investigate/scan-limits/.",
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "description": "Account ID.",
            "required": true,
[...]
